.wc-cart-progress-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding:0 20px 10px;
}
.wc-cart-progress {
    padding-bottom:10px;
}
.wc-cart-progress, .wc-cart-progress .wc-cart-progress-items-wrapper {
    display: block;
    width: 100%;
    margin:0 auto;
    min-height:40px;
    position: relative;
}
.wc-cart-progress .wc-cart-progress-items-wrapper {
    display: flex;
    max-width: 400px;
}

.wc-cart-progress .wc-cart-progress-items-wrapper.completed {
    justify-content: space-between;
    align-items: center;
}

.wc-cart-progress .wc-cart-progress-items-wrapper.completed .wc-cart-progress-item.done {
    position: relative;
    top:0;
}

.wc-cart-progress .wc-cart-progress-items-wrapper .wc-cart-progress-item {
    position: absolute;
    top:5px;
    z-index: 1;
    right:0;
    display: none;
}

.wc-cart-progress .wc-cart-progress-items-wrapper .wc-cart-progress-item.visible {
    display: block;
}

.wc-cart-progress .wc-cart-progress-items-wrapper .wc-cart-progress-item.active {
    top:0;
    left:0;
    right:0;
}

.wc-cart-progress .wc-cart-progress-items-wrapper .wc-cart-progress-item.active:last-child {
    left:auto;
    right:0;
}

.wc-cart-progress .wc-cart-progress-items-wrapper .wc-cart-progress-item.done {
    display: block;
    left:0;
    right:auto;
}

.wc-cart-progress .wc-cart-progress-items-wrapper .wc-cart-progress-item.active .wc-cart-progress-item-image-wrapper {
    width: 40px;
    height: 40px;
}
.wc-cart-progress .wc-cart-progress-items-wrapper .wc-cart-progress-item.done .wc-cart-progress-item-image-wrapper {
    border-color: #0e9d5b;
}

.wc-cart-progress .wc-cart-progress-items-wrapper .wc-cart-progress-item.active .wc-cart-progress-item-image-wrapper img,
.wc-cart-progress .wc-cart-progress-items-wrapper .wc-cart-progress-item.done .wc-cart-progress-item-image-wrapper img {
    opacity: 1;
}

.wc-cart-progress .wc-cart-progress-item .wc-cart-progress-item-image-wrapper {
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #d0eddb;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}

.wc-cart-progress .wc-cart-progress-item .wc-cart-progress-item-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.5;
    position: absolute;
}

.wc-cart-progress .wc-cart-progress-bar-wrapper {
    position: absolute;
    width:100%;
    top:18px;
    left:0;
    padding:0 28px;
}

.wc-cart-progress .wc-cart-progress-bar-wrapper .wc-cart-progress-bar-fill-inner {
    width:100%;
    height:4px;
    background: #d0eddb;
    border-radius: 4px;
    overflow: hidden;
}

.wc-cart-progress .wc-cart-progress-bar-wrapper .wc-cart-progress-bar-fill-inner .wc-cart-progress-bar-fill {
    height: 100%;
    width: 0%;
    background: #0e9d5b;
    border-radius: 4px;
    transition: width 0.5s ease-in-out;
}
.wc-cart-progress-done-marker-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #d0eddb;
    color: #0e9d5b;
    border-radius: 100% 100%;
    margin: 0 auto;
    margin-bottom: -20px;
}

.wc-cart-progress-done-marker-wrapper.visible {
    display: flex;
}

.wc-cart-progress-done-marker-wrapper .wc-cart-progress-done-marker {
    margin-top: -7px;
}
.wc-cart-progress-content-wrapper {
    background-color: #d0eddb;
    color: #0e9d5b;
    text-align: center;
    font-size: 11px;
    padding: 0.5rem;
    margin-left:-20px;
    margin-right:-20px;
}
.wc-cart-progress-content-wrapper .wc-cart-progress-content-text {
    margin: 0;
}