.button-delete {
    background-color: #fff;
    color: #d63638;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.button-delete:hover {
    background-color: #d63638;
    color: #fff;
}