.wc-cart-progress-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.wc-cart-progress {
    padding: 1rem;
}
.wc-cart-progress, .wc-cart-progress .wc-cart-progress-items-wrapper {
    display: flex;
    width: 100%;
    min-height:40px;
    position: relative;
}
.wc-cart-progress .wc-cart-progress-items-wrapper .wc-cart-progress-item {
    top:5px;
    z-index: 1;
    right:0;
}

.wc-cart-progress .wc-cart-progress-item .wc-cart-progress-item-image-wrapper {
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #d0eddb;
    background: #ffffff;
}

.wc-cart-progress .wc-cart-progress-item .wc-cart-progress-item-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.5;
}