#wc-cart-progress {
    text-align: center;
}

.progress-bar-container {
    background: #f1f1f1;
    border: 1px solid #ccc;
    margin: 10px 0;
    position: relative;
    height: 50px;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.step img {
    height: 40px;
    width: auto;
}

.progress-details {
    font-size: 14px;
    margin-top: 10px;
}